@use "styles/mixins" as *;
@use "styles/variables" as *;
@use "styles/extends";

section#inspiration {
  width: 100%;

  & > .container {
    @extend .page_width;
    padding: 3.6rem 0;
    box-sizing: border-box;

    & > h2 {
      font-weight: 500;
      font-size: clamp(2rem, 3vw, 3rem);
      color: #000000;
      text-align: center;
      margin-bottom: 2rem;

      @include mediaMin(tablet) {
        margin-bottom: 2.7rem;
      }
    }

    & > div {
      display: grid;
      place-items: center;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      gap: 1.5rem 0;
    }
  }
}
