@use "styles/mixins" as *;
@use "styles/variables" as *;
@use "styles/extends";

button.connect_wallet__btn {
  display: inline-block;
  border: none;
  width: 120px;
  height: 35px;
  border-radius: 10px;
  text-align: center;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  color: #ffffff;
  @extend .purple_gradient;
  cursor: pointer;

  @include mediaMin(tablet) {
    width: 170px;
    height: 48px;
    font-size: 1rem;
  }
}

.connect_wallet__modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  z-index: 20;
  background-color: rgba(64, 64, 64, 0.3);
  display: none;

  &.open {
    display: inherit;
  }

  & > .container {
    margin: 8% auto;
    background-color: white;
    border-radius: 1rem;
    width: 85%;
    max-width: 600px;
    max-height: 326px;

    & > .heading__close_btn {
      @include flex(center, space-between, row);
      width: 100%;
      margin: 0 auto;
      padding: 1.5rem 2rem;
      border-bottom: 1px solid #cfd8dc;
      box-sizing: border-box;

      & > h2 {
        font-weight: 500;
        font-size: 1.5rem;
        color: $color-400;
      }

      & > span {
        color: #1a1a1a;
        cursor: pointer;
      }
    }

    & > .wallet_lists {
      width: 100%;
      padding: 2rem;
      box-sizing: border-box;

      & > h2 {
        font-weight: 400;
        font-size: 1rem;
        color: $color-400;
        margin-bottom: 1rem;
      }

      & > .wallet {
        width: 100%;
        max-width: 536px;
        margin: 0 auto 1.5rem;
        padding: 12px;
        @include flex(center, space-between, row);
        border: 1px solid #cfd8dc;
        border-radius: 12px;

        &.selected {
          background: #f8f9fa;
        }

        & > div {
          @include flex(center, flex-start, row);
          gap: 1rem;

          img {
            width: 44px;
            height: 44px;
          }

          & > span {
            font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
            font-weight: 600;
            font-size: 1.125rem;
            color: #000000;
          }
        }

        & > svg {
          fill: #959da6;
        }
      }
    }
  }
}
