@font-face {
  font-family: "RedRose";
  src: url("../public/fonts/red_rose/RedRose-Regular.ttf");
}

body {
  font-family: "RedRose";
  scroll-behavior: smooth;
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  font-size: 16px;
  box-sizing: border-box;
  color: #434343;
}

input[placeholder] {
  font-family: "RedRose", Arial, Helvetica, sans-serif;
}

button {
  font-family: "RedRose";
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
