@font-face {
  font-family: "Red Rose";
  src: url("../public/fonts/Red_Rose/static/RedRose-Regular.ttf");
}

body {
  font-family: "Red Rose";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
  font-size: 16px;
  box-sizing: border-box;
  color: #434343;
}

input[placeholder] {
  font-family: "Red Rose";
}

button {
  font-family: "Red Rose";
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
